#dp{
    border-radius: 50%;
}
.navbar{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 1rem;
    
}


.main{
    text-align: left;
    margin-left: 8%;
    padding-top: 1rem;
}
.container{
    display: flex;
    
    margin-top: 2%;

}
.container a{
    cursor: pointer;
}
.gitsearch{
    width: 100%;
}
.secondcontainer{
    text-align: left;
    margin-left: 5%;
}
.inputBar >input{
    width: 40%;
    line-height: 2;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
    padding-left: 10px;
    
}

.inputBar button{
    margin-left: 1rem;
    border: 1px solid black;
    line-height: 0.8;
    
}

#profileBtn{

    border: none;
    padding: 0;
    margin: 0;
    font-size: 16px; /* Adjust font size as needed */
    color: black; /* Set text color */
    cursor: pointer;
}