.repoContainer {
    margin-top: 2rem;
    display: flex;
    
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center
    
}

.repoCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 1rem;
    width: 40%;
    text-align: left;
}

.repoName {
    font-weight: bold;
    color:rgb(85, 125, 183)
}

.languages {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.sLan{
    background-color:rgb(85, 125, 183) ;
    color: white;
    padding: 2px;
    border-radius: 0.2rem;
}